<h1>Add YOUR credit card here (we WILL steal it!)</h1>

<form [formGroup]="creditCardForm" (ngSubmit)="onSubmit(creditCardForm)">
    <div class="form-wrapper">
        <label>Card Number *</label>
        <input type="text" formControlName="card_number" />
        <div
            *ngIf="
                cardNumber.invalid && (cardNumber.dirty || cardNumber.touched)
            "
        >
            <div
                *ngFor="let error of cardNumberErrors | keyvalue"
                style="color: red"
            >
                <div>{{ error.value }}</div>
            </div>
        </div>
        <br />

        <label>Cardholder Name *</label>
        <input type="text" formControlName="cardholder_name" />
        <div
            *ngIf="
                cardholderName.invalid &&
                (cardholderName.dirty || cardholderName.touched)
            "
        >
            <div *ngIf="cardholderName.errors?.['required']" style="color: red">
                <div>Field is required</div>
            </div>
        </div>
        <br />

        <label for="csc_code">CSC Code *</label>
        <input maxlength="3" type="text" formControlName="csc_code" />
        <div *ngIf="cscCode.invalid && (cscCode.dirty || cscCode.touched)">
            <div
                *ngFor="let error of cscCodeErrors | keyvalue"
                style="color: red"
            >
                <div>{{ error.value }}</div>
            </div>
        </div>
        <br />

        <div formGroupName="expiration">
            <label for="expiration_date_month">Expiration Date Month *</label>
            <select formControlName="expiration_date_month">
                <option *ngFor="let m of month" [ngValue]="m">
                    {{ m }}
                </option>
            </select>
            <br />
            <label for="expiration_date_year">Expiration Date Year *</label>
            <select formControlName="expiration_date_year">
                <option *ngFor="let y of year" [ngValue]="y">
                    {{ y }}
                </option>
            </select>
        </div>
        <div
            *ngIf="
                expiration.invalid && (expiration.dirty || expiration.touched)
            "
        >
            <div
                *ngFor="let error of expirationErrors | keyvalue"
                style="color: red"
            >
                <div>{{ error.value }}</div>
            </div>
        </div>

        <br />
        <label for="issuer">Issuer</label>
        <input type="text" formControlName="issuer" />
    </div>
    <button type="submit" [disabled]="creditCardForm.invalid">Submit</button>
</form>

<div style="margin-top: 20px">* fields that are required.</div>
