<h1>Add YOUR credit card here (we WILL steal it!)</h1>

<form [formGroup]="creditCardForm" (ngSubmit)="onSubmit()">
    <div class="form-wrapper">
        <label>Card Number</label>
        <input type="text" formControlName="card_number" />
        <div
            *ngIf="
                cardNumber.invalid && (cardNumber.dirty || cardNumber.touched)
            "
        >
            <div
                *ngIf="cardNumber.errors?.['card_number_errors']"
                style="color: red"
            >
                {{ cardNumber.errors?.['card_number_errors'] }}
            </div>
        </div>
        <!-- Missing error ift required-->
        <br />

        <label>Cardholder Name</label>
        <input type="text" formControlName="cardholder_name" />
        <!-- Missing error -->
        <br />

        <label for="csc_code">CSC Code</label>
        <input type="number" formControlName="csc_code" />
        <!-- Missing error -->
        <br />

        <div formGroupName="expiration">
            <label for="expiration_date_month">Expiration Date Month</label>
            <select formControlName="expiration_date_month">
                <option *ngFor="let m of month" [ngValue]="m">
                    {{ m }}
                </option>
            </select>
            <!-- Missing error -->
            <label for="expiration_date_year">Expiration Date Year</label>
            <select formControlName="expiration_date_year">
                <option *ngFor="let y of year" [ngValue]="y">
                    {{ y }}
                </option>
            </select>
            <!-- Missing error -->
        </div>

        <br />
        <label for="issuer">Issuer</label>
        <input type="text" formControlName="issuer" />
    </div>
    <button type="submit">Submit</button>
</form>
