<input
    *ngIf="showSearch"
    type="text"
    [ngModel]="search"
    (ngModelChange)="searchChange($event)"
/>

<div *ngIf="transactions">
    <table>
        <thead>
            <td>Credit card</td>
            <td>Amount</td>
            <td>Currency</td>
            <td>Date</td>
            <td>Comment</td>
            <td></td>
        </thead>
        <tr *ngFor="let trans of shownTransactions">
            <app-transaction-list-item
                [transaction]="trans"
            ></app-transaction-list-item>
        </tr>
    </table>
</div>
