<h1>Add transaction</h1>

<form [formGroup]="transactionForm" (ngSubmit)="onSubmit(transactionForm)">
    <div class="form-wrapper">
        <label for="credit_card">Credit Card: </label>
        <select formControlName="credit_card">
            <option *ngFor="let c of cards$ | async" [ngValue]="c">
                {{ c.card_number }}
            </option>
        </select>
        <br />

        <label for="amount">Amount: </label>
        <input type="text" formControlName="amount" />
        <div *ngIf="amount.invalid && (amount.dirty || amount.touched)">
            <div
                *ngFor="let error of amountErrors | keyvalue"
                style="color: red"
            >
                <div>{{ error.value }}</div>
            </div>
        </div>
        <br />

        <label for="currency">Currency: </label>
        <select formControlName="currency">
            <option *ngFor="let c of currencies" [ngValue]="c">
                {{ c }}
            </option>
        </select>

        <br />
        <label>Date: </label>
        <input
            matInput
            [matDatepicker]="picker"
            formControlName="date"
            [min]="todaysDate"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle
        ><br />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker #picker></mat-datepicker>
    </div>
    <button type="submit" [disabled]="transactionForm.invalid">Submit</button>
</form>
